/* 
    Document   : main.css
    Created on : 29 août 2013, 18:54:25
    Author     : sylvain
    Description:
        Purpose of the stylesheet follows.
*/

* {
    font-family: sans-serif;
    font-size: 11px;
}

article {
    display: block;
    width: 300px;
    padding: 3px;
    overflow: auto;
    
}

article:nth-child(even) {
    background-color: #DDD;
}

img {
    float: left;
    display: block;
    margin-right: 3px;
}

article i {
    float: right;
}